
.navbar-evaluator {
	background-color:  #2F1F50;
}

a:hover, .nav-evaluator > .active > a:focus {
    color: #2F1F50;
    background-color: #6a5596;
}

.nav-evaluator > .active > a, .nav-evaluator > .active > a:hover, .nav-evaluator > .active > a:focus {
    color: #fff;
    background-color: #6a5596;
}

.navbar-manager  {
    background-color: #2F1F50;
}
.navbar-manager .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

a:hover, .nav-manager > .active > a:focus {
    color: #fff;
    background-color:  #6a5596;
}

.nav-manager > .active > a, .nav-manager > .active > a:hover, .nav-manager > .active > a:focus {
    color: #fff;
    background-color: #6a5596;
}
.van-manager > .active > a, .van-manager > .active > a:hover, .van-manager > .active > a:focus {
    color: #fff;
    background-color: #6a5596;
}

.navbar-admin {
	background-color: #2F1F50;
}
a:hover, .nav-admin > .active > a:focus {
    color: #fff;
    background-color: #6a5596;
}
.nav-admin > .active > a, .nav-admin > .active > a:hover, .nav-admin > .active > a:focus {
    color: #fff;
    background-color: #6a5596;
}
